.admin-page-content-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 24px 16px;
    background-color: whitesmoke;
    box-sizing: border-box;

}
.admin-page-heading-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    box-sizing: border-box;
}
.admin-page-heading {
    display: flex;
    font-size: 24px;
    justify-content: center;
} 
.admin-page-metrics-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 8px;
    background-color: white;
    gap: 16px;
    border-radius: 16px;
    box-sizing: border-box;
}
.admin-page-metrics-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #0d6efd;
    border-radius: 16px;
    padding: 12px 16px;
    align-items: center;
    box-sizing: border-box;
}
.admin-page-metrics-image {
    display: flex;
    width: 20%;
    height: 20%;
    object-fit: contain;
}
.admin-page-metrics-details-area {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    padding: 8px 12px;
    justify-content: center;
}
.admin-page-metrics-title {
    font-size: 18px;
    font-weight: 500;
    color: white;
}
.admin-page-metrics-value {
    display: flex;
    font-size: 18px;
    color: white;
}

.admin-page-prompt-details-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 24px 8px;
    box-sizing: border-box;

}
.admin-page-prompt-details-heading {
    display: flex;
    justify-content: center;
    font-size: 20px;
}
@media (min-width: 768px) {
    .admin-page-content-area {
        max-width: 1200px;
        margin: 0 auto;
    }
    .admin-page-heading-section {
        margin-bottom: 24px;
    }
    .admin-page-heading {
        font-size: 36px;
        padding: 16px 0;
    }
    .admin-page-metrics-section {
        flex-direction: row;
        margin-bottom: 24px;
    }
    .admin-page-metrics-box {
        padding: 24px 16px;
    }
    .admin-page-metrics-details-area {
        padding: 12px 16px;
    }
    .admin-page-metrics-image {
        height: 80%;
    }
    .admin-page-metrics-title {
        font-size: 20px;
    }
    .admin-page-metrics-value {
        font-size: 20px;
    }
    .admin-page-prompt-details-heading {
        font-size: 24px;
    }

}
