.admin-page-content-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 24px 16px;
    box-sizing: border-box;
    background: linear-gradient(to bottom,#f8fafc 0%,#f3f4f6 100%);
}

.admin-page-go-to-home-wrapper {
    display: flex;
    width: 100%;
}

.admin-page-go-back-link {
    display: flex;
    flex-direction: row;
    color: inherit;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 16px;
    padding: 4px 12px;
    height: 100%;
}

.admin-page-go-back-link:hover {
    transform: translateY(-1px);
    transition: ease-out;
    transition-duration: 0.2s;
}

.admin-page-go-back-link div {
    display: flex;
    align-items: center;
}

.admin-page-heading-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.admin-page-heading {
    display: flex;
    font-size: 22px;
    font-weight: 700;
    justify-content: center;
}

.admin-page-metrics-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    border-radius: 16px;
    box-sizing: border-box;
}

.admin-page-metrics-box:nth-of-type(1) {
    background-color: purple;
}

.admin-page-metrics-box:nth-of-type(2) {
    background-color: rgb(61, 148, 104);
}

.admin-page-metrics-box:nth-of-type(3) {
    background-color: #0d6efd;
}

.admin-page-metrics-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 16px;
    padding: 12px 16px;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
}

.admin-page-metrics-image {
    display: flex;
    width: 20%;
    height: 20%;
    object-fit: contain;
}

.admin-page-metrics-details-area {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    padding: 8px 12px;
    justify-content: center;
}

.admin-page-metrics-title {
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.admin-page-metrics-value {
    display: flex;
    font-size: 18px;
    color: white;
}

.admin-page-prompt-details-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 28px 8px;
    box-sizing: border-box;
}

.admin-page-prompt-details-heading {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 16px;
}

.admin-page-prompt-details-list-mobile {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.admin-prompt-details-table-wrapper {
    display: none;
}

@media (min-width: 768px) {
    .admin-page-content-area {
        max-width: 1200px;
        margin: 0 auto;
    }

    .admin-page-go-to-home-btn {
        display: flex;
        width: 100%;
    }

    .admin-page-heading-section {
        margin-bottom: 24px;
    }

    .admin-page-heading {
        font-size: 36px;
        padding: 16px 0;
    }

    .admin-page-metrics-section {
        flex-direction: row;
        margin-bottom: 24px;
        justify-content: space-between;
    }

    .admin-page-metrics-box {
        padding: 24px 16px;
        transition-duration: 0.2s;
    }

    .admin-page-metrics-box:hover {
        transform: translateY(-2px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    }

    .admin-page-metrics-details-area {
        padding: 12px 16px;
        line-height: 1.2;
    }

    .admin-page-metrics-image {
        height: 80%;
    }

    .admin-page-metrics-title {
        font-size: 20px;
    }

    .admin-page-metrics-value {
        font-size: 22px;
    }

    .admin-page-prompt-details-heading {
        font-size: 24px;
        margin-bottom: 28px;
    }

    .admin-page-prompt-details-list-mobile {
        display: none;
    }

    .admin-prompt-details-table-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 16px;
        overflow: hidden;
        border:  1px solid rgba(0,0,0,0.1);
        background-color: white;
    }
    .admin-prompt-details-table {
        border-collapse: collapse;
        border-radius: 16px;
    }
     th , td {
        padding: 16px;
        border:  1px solid rgba(0,0,0,0.1);
    }

    tr:nth-of-type(2n) {
        background-color: rgb(243, 243, 243);
    }

    thead th {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    th {
        font-size: 18px;
        font-weight: 600;
        /* background-color: #f9fbff; */
        color: #111827;
        background-color: #eef2ff; /* soft blue/gray */
        border-bottom: 2px solid #dbeafe;
    }

    .table-prompt-column{
        text-align: justify;
        hyphens: auto;
        display: -webkit-box;
        line-clamp: 3;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.2;
    }

}
