.admin-page-content-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 24px 16px;
    background-color: whitesmoke;
    box-sizing: border-box;
}

.admin-page-heading-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.admin-page-heading {
    display: flex;
    font-size: 22px;
    font-weight: 700;
    justify-content: center;
}

.admin-page-metrics-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 8px;
    gap: 16px;
    border-radius: 16px;
    box-sizing: border-box;
}

.admin-page-metrics-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #0d6efd;
    border-radius: 16px;
    padding: 12px 16px;
    align-items: center;
    box-sizing: border-box;
}

.admin-page-metrics-image {
    display: flex;
    width: 20%;
    height: 20%;
    object-fit: contain;
}

.admin-page-metrics-details-area {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    padding: 8px 12px;
    justify-content: center;
}

.admin-page-metrics-title {
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.admin-page-metrics-value {
    display: flex;
    font-size: 18px;
    color: white;
}

.admin-page-prompt-details-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 28px 8px;
    box-sizing: border-box;
}

.admin-page-prompt-details-heading {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 16px;
}

.admin-prompt-details-table-wrapper {
    display: none;
}

@media (min-width: 768px) {
    .admin-page-content-area {
        max-width: 1200px;
        margin: 0 auto;
    }

    .admin-page-heading-section {
        margin-bottom: 24px;
    }

    .admin-page-heading {
        font-size: 36px;
        padding: 16px 0;
    }

    .admin-page-metrics-section {
        flex-direction: row;
        margin-bottom: 24px;
        background-color: inherit;
    }

    .admin-page-metrics-box {
        padding: 24px 16px;
    }

    .admin-page-metrics-details-area {
        padding: 12px 16px;
    }

    .admin-page-metrics-image {
        height: 80%;
    }

    .admin-page-metrics-title {
        font-size: 20px;
    }

    .admin-page-metrics-value {
        font-size: 20px;
    }

    .admin-page-prompt-details-heading {
        font-size: 24px;
        margin-bottom: 28px;
    }

    .admin-page-prompt-details-list-mobile {
        display: none;
    }

    .admin-prompt-details-table-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 16px;
        overflow: hidden;
        border:  1px solid rgba(0,0,0,0.1);
        background-color: white;
    }
    .admin-prompt-details-table {
        border-collapse: collapse;
        border-radius: 16px;
        padding: 8px;
    }
     th , td {
        padding: 16px;
        border:  1px solid rgba(0,0,0,0.1);
    }

    tr:nth-of-type(2n) {
        background-color: rgb(243, 243, 243);
    }

    /* tr:nth-of-type(n+2) {
        background-color: rgb(149, 67, 67);
    } */

    th {
        font-size: 18px;
        font-weight: 600;
        background-color: #f9fbff;
        color: #111827;
    }

    .table-prompt-column{
        text-align: justify;
        hyphens: auto;
        display: -webkit-box;
        line-clamp: 3;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.2;
    }
    

}
