/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: "Inter", sans-serif;
    background: #f5f5f7;
}

:root {
    --primary-btn-bg-color: #0d6efd;
    --primary-btn-text-color: white;
    --primary-btn-hover-bg-color : #0c59cd;
}
