/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: "Inter", sans-serif;
    background: #f5f5f7;
}

/* app layout */
.app-container {
    max-width: 720px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
}

.app-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 48px;
    color: #222;
}

/* card */
.card {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    padding: 28px 20px;
    border-radius: 14px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
    margin-bottom: 30px;
    gap: 8px;
}

.subheading-text-wrapper {
  display: flex;
  width: 100%;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.subheading-text {
    background: linear-gradient(135deg, #2280fb, #1443a2);
    background-clip: text;             /* Firefox */
    -webkit-background-clip: text;     /* Chrome, Safari */
    -webkit-text-fill-color: transparent;
    font-weight: 500;
}

.prompt-input {
    width: 100%;
    height: 120px;
    padding: 12px;
    font-size: 16px;
    resize: none;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
    margin-bottom: 15px;
}

.prompt-input:focus {
    border-color: #0d6efd;
}

.server-error-msg,
.prompt-error-msg {
    color: rgb(223, 0, 0);
    margin-bottom: 12px;
}
/* To submit details to backend */
.generate-btn-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.generate-btn,
.regenerate-cta-btn {
  display: flex;
    background: #0d6efd;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 10px;
    transition: 0.2s;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.generate-btn:hover,
.regenerate-cta-btn:hover {
    background: #0c59cd;
}

.generate-btn:disabled {
    background: #9cbdf5;
}

/* Result container */
.result-card {
    background: #ffffff;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
    text-align: left;
}

.caption {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.hashtags {
    margin-bottom: 16px;
}

.tag {
    display: inline-block;
    background: #e8f0fe;
    color: #0d47a1;
    padding: 6px 12px;
    margin: 4px;
    border-radius: 6px;
    font-size: 14px;
}

/* Image Generated by open ai api*/
.result-image {
    width: 100%;
    border-radius: 12px;
    margin-top: 10px;
}

.actions {
    margin-top: 20px;
    display: flex;
    gap: 12px;
    justify-content: center;
}
.action-btn {
    padding: 10px 16px;
    color: #007bff;
    background-color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s ease;
    border: 1px solid rgba(0,0,0,0.5);
}
.action-btn:hover {
    background: #007bff;
    color: white;
    transform: scale(1.05);
}
.action-btn:active {
    transform: scale(0.92);
}

.regenerate-cta-btn-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    box-sizing: border-box;
}
.regenerate-btn-icon {
    display: flex;
    width: 20px;
    height: 20px;
    margin-right: 4px;
    object-fit: contain;
}
/* Cta button grouped along with generate button*/